.comeback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
  border: 2px solid #FFD933;
  border-radius: 10px;
}

.arrowLink {
  color: #FFD933;
}

.comebackText {
  margin-left: 5px;
  color: #FFD933;
  padding: 4px;
}

